*.exe
*.user
*.suo
/client/Library
/client/Temp
/proto/*.exe
/server/bin
/server/pkg
/server/src/gamesvc/*.exe
/table/game.pb
/tool/ServiceMonitor/ServiceMonitor.exe
/tool/ServiceMonitor/profile.json
/tool/protoc-gen-go.exe
/tool/protoc-gen-meta.exe
/tool/protoc-gen-msg.exe
/tool/protoc.exe
/tool/src/protoc-gen-table/protoc-gen-table.exe
/tool/tabtoy.exe
server/BuildAll.bat
server/StartAll.bat
server/src/RunAll.bat
server/src/cfg/Local.pbt
server/src/gamesvc/gamesvc_Build.bat
server/src/gatesvc/gatesvc_Build.bat
tool/MyUpdate3rd.bat
tool/bin/protoc-gen-table.exe
tool/protoc-gen-sharpnet.exe
/server/cfg/Local.pbt
/client/*.userprefs
/client/*.csproj
/client/*.sln
/client/obj
