/proto/*.exe
/server/pkg
/server/bin
/server/src/gamesvc/*.exe
/tool/src/protoc-gen-table/protoc-gen-table.exe
/tool/ServiceMonitor/ServiceMonitor.exe
tool/bin/protoc-gen-table.exe
/tool/protoc-gen-go.exe
/tool/protoc-gen-meta.exe
/tool/protoc-gen-msg.exe
/tool/protoc.exe
/tool/tabtoy.exe
/table/game.pb
tool/protoc-gen-sharpnet.exe
tool/MyUpdate3rd.bat
server/src/cfg/Local.pbt
*.exe
server/src/gatesvc/gatesvc_Build.bat
/tool/ServiceMonitor/profile.json
server/src/RunAll.bat
server/src/gamesvc/gamesvc_Build.bat
