*.exe
*.pb
*.suo
*.user
/client/*.csproj
/client/*.csproj
/client/*.sln
/client/*.userprefs
/client/Assets/Lua/**/*.meta
/client/Library
/client/ProjectSettings/ProjectVersion.txt
/client/Temp
/client/obj
/proto/tool/*.exe
/server/bin
/server/cfg/Local.pbt
/server/pkg